<h1>{{title}}</h1>
<table border="1">
    <tr>
        <th>Employees Code</th>
        <th>Employees Name</th>
        <th>Employees Salary</th>
        <th>Employees DOB</th>
        <th>Employees mynumber</th>
    </tr>
    <tr *ngFor="let employe of employees">
        <td>{{employe.code}}</td>
        <td>{{employe.name | uppercase}}</td>
        <td>{{employe.salary | currency:"INR"}}</td>
        <td>{{employe.dob | date}}</td>
        <td>{{employe.mynumber | percent}}</td>
    </tr>
</table>
<h3 [ngStyle]="{'color':'red'}">Date long date Pipes</h3>
<h3 *ngFor="let employe of employees; let i = index">{{employe.dob | date:'longDate' }}</h3>

<h3 [ngStyle]="{'color':'blue'}">Date short date Pipes</h3>
<ul *ngFor="let employe of employees">
    <li>
        {{employe.dob | date:'shortDate' }}
    </li>
</ul>


<h3 [ngStyle]="{'color':'yellow'}">Date middium date Pipes</h3>
<ul *ngFor="let employe of employees">
    <li>
        {{employe.dob | date:'medium' }}
    </li>
</ul>

<h3 [ngStyle]="{'color':'red'}">Number Pipes</h3>
<ul *ngFor="let employe of employees; let i = index">
    <li>
        {{i+1}} - {{employe.mynumber | percent:'2.4-8'}}
    </li>
</ul>

<h3 [ngStyle]="{'color':'blue'}">Date middium date Pipes</h3>
<ul *ngFor="let employe of employees; let i = index">
    <li>
         {{employe.salary | currency:"USD"}}
    </li>
</ul>

