<p [ngStyle]="{'color':'blue','text-align':'UI'}">Employee List</p>
<table class="table table-hover">
<th>First Name</th>
<th>Last Name </th>
<th>Email</th>
<th>Mobile </th>
<th>Gender</th>
<th>Edit</th>
<th>Delete </th>
<tr *ngFor='let emp of allEmployee'>
    <td>{{emp.firstname}}</td>
    <td>{{emp.Lastname}}</td>
    <td>{{emp.Email}}</td>
    <td>{{emp.Mobile}}</td>
    <td>{{emp.Gender}}</td>
    <td>
        <a >
            <i class="fa fa-edit" (click)="edit(emp)"></i>
        </a>
    </td>
    <td>
        <a class="btn text-danger" (click)="deleteEmployee(emp.id)">
            <i class="fa fa-trash"></i>
        </a>
    </td>
</tr>

   
</table>


<!-- <input [(ngModel)]="msg">


{{msg}} -->