<h1 [ngStyle]="{'color':'blue'}">Router Link</h1>
<a [routerLink]="['/pipes']">Pipes</a><br>
<a [routerLink]="['/custopipe']">custopipe</a><br>
<a [routerLink]="['/twowaybinding']">two way binding</a><br>
<a [routerLink]="['/test']"> use ngSwitch </a><br>
<a [routerLink]="['/ngstyle']">ngstyle</a><br>
<a [routerLink]="['/ngclassuse']">ngclass use</a><br>
<a [routerLink]="['/grouping']">ngFor grouping</a><br>
<a [routerLink]="['/excel']">component Lifecycle on impact portion</a><br>
<a [routerLink]="['/atribing']">atribute binding</a><br>
<div>
    <router-outlet></router-outlet>
</div>