 <!-- <app-excel></app-excel>  -->
 <!-- <app-test> </app-test> -->
 <!-- <app-ngstyle></app-ngstyle> -->
 <!-- <app-grouping></app-grouping> -->
 <!-- <app-ngclassuse></app-ngclassuse> -->
 <!-- <app-atribinding></app-atribinding> -->
 <!-- <app-twowaybinding></app-twowaybinding> -->
 <!-- <app-pipes></app-pipes> -->
 <!-- <app-custompipe></app-custompipe> -->
 <!-- <app-userouting></app-userouting> -->
 <!-- <p>kjsdhhk</p> -->
<button (click)="back()" >Back</button>
 <router-outlet></router-outlet>  