<p [ngStyle]="{'color':'blue','text-align':'UI'}">Enter your Details</p>


<div class="row">
    <div class="col-md-6 form-group">
        <input  placeholder="First name" class="form-control" required [(ngModel)]="employeeService.currentEmployee.firstname">
        
    </div>
    <div class="col-md-6 form-group">
        <input type="text" placeholder="Last name" class="form-control"  required [(ngModel)]="employeeService.currentEmployee.Lastname">
    </div>
</div>
<div class="row">
    <div class="col-md-12 form-group">
        <input type="text" placeholder="Email" class="form-control"  required [(ngModel)]="employeeService.currentEmployee.Email">
    </div>
</div>
<div class="row">
    <div class="col-md-12 form-group">
        <input type="text" placeholder="Mobile Number" class="form-control"  required [(ngModel)]="employeeService.currentEmployee.Mobile" >
    </div>
</div>
<div class="row">
    <div class="col-md-6 form-group"  >
        Gender   : <input type="radio" name="Gender" value="Male" [(ngModel)]="employeeService.currentEmployee.Gender" >Male
        <input type="radio" name="Gender" value="Female" [(ngModel)]="employeeService.currentEmployee.Gender">Female
    </div>
</div>

<div class="row">
    <div class="col-md-8">
        <button class="btn btn-success btn-block btn-lg"
         (click)="createAndUpdate(employeeService.currentEmployee)"><i class="fa fa-save"></i>  Submit</button>
    </div>
    <div class="col-md-4">
        <button class="btn btn-primary btn-block btn-lg" (click)="clear()"><i class="fa fa-trash" ></i> Reset</button>
    </div>
</div>